<h1>Student Edit Form</h1>
<%= form_for(@student) do |f| %>
  <label>First Name: </label><br>
  <%= f.text_field :first_name %><br>

  <label>Last Name: </label><br>
  <%= f.text_field :last_name %><br>

  <%= f.submit 'Update Student' %>
<% end %>
