<h1>Student Form</h1>
<%= form_tag students_path do %>
  <label>First name:</label><br>
  <%= text_field_tag :'student_first_name' %><br>

  <label>Last name:</label><br>
  <%= text_field_tag :'student_last_name' %><br>

  <%= submit_tag "Create Student" %>
<% end %>
