<h3>Student Form</h3>
<%= form_for(@student) do |f| %>
<label>Student First name:</label><br>
  <%= f.text_field :first_name %><br>
  <label>Student Last name:</label><br>

  <%= f.text_field :last_name %><br>

  <%= f.submit %>
<% end %>
