<%= form_for(@student) do |f| %>
<h3>Student Form</h3>
<label>Student First Name: </label>
<%= f.text_field:first_name %><br>

<label>Student Last Name: </label>
<%= f.text_field:last_name %><br>
<%= f.submit%>
<%end%>
