<h1>Update Class</h1>

<%= form_for(@school_class) do |f| %>
  <label>Title</label><br>
  <%= f.text_field :title %><br>

  <label>Room Number</label><br>
  <%= f.text_field :room_number %><br>

  <%= f.submit %>
<% end %>