<h1>Edit School Class Form</h1>

<%= form_for(@school_class) do |f| %>
  <label>Title</label>
  <%= f.text_field :title %>

  <label>Room Number</label>
  <%= f.text_field :room_number %>

  <%= f.submit %>
<% end %>
