<h3>Edit Class Form</h3>

<%= form_for(@class) do |f| %>
  <label>Class title:</label><br>
  <%= f.text_field :title %><br>

  <label>Class room number:</label><br>
  <%= f.text_field :room_number %><br>

  <%= f.submit %>
<% end %>
