<h3>School Class Form</h3>

<%= form_for(@schoolclass) do |f| %>
  <label>Post title:</label><br>
  <%= f.text_field :title %><br>

  <label>Post description</label><br>
  <%= f.text_field :room_number %><br>

  <%= f.submit %>
<% end %>
