<h1>School Class Edit Form</h1>

<%= form_for(@school_class) do |f| %>
  <label>School Class Title:</label><br>
  <%= f.text_field :title %>

  <label>School Class Room Number:</label><br>
  <%= f.text_field :room_number %>
  
  <%= f.submit %>
<% end %>
