<h1>School Classes</h1>

<%= div_for @school_classes do |school_class| %>
  <%= link_to school_class do  %>
    <%= content_tag :h3, school_class.title %>
    <%= content_tag :p, "Room " + school_class.room_number.to_s %>
  <% end %>
<% end %>
