<%= form_for(@school_class) do |f| %>
<h3>School Class Form</h3>
<label>School Title: </label>
<%= f.text_field:title %><br>

<label>School Room Number: </label>
<%= f.text_field:room_number %><br>
<%= f.submit%>
<%end%>
