<h1>New School Class Form</h1>

<%= form_for(@school_class) do |f|%>
  <label>Class Name:</label><br>
  <%= f.text_field :'title' %><br>

  <label>Room:</label><br>
  <%= f.number_field :'room_number' %><br>

  <%= f.submit %>
<% end %>
