<h1>School Class Form</h1>
<%= form_tag school_classes_path do %>
  <label>Title:</label><br>
  <%= text_field_tag :'school_class_title' %><br>

  <label>Room number:</label><br>
  <%= text_field_tag :'school_class_room_number' %><br>

  <%= submit_tag "Create School class" %>
<% end %>
