<h3>School Class Form</h3>

<%= form_for @school_class do |sc| %>
  <label>School Class Title:</label><br>
  <%= sc.text_field :title %><br>

  <label>School Class Room Number:</label><br>
  <%= sc.text_field :room_number %><br>

  <%= sc.submit %>
<% end %>
